* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: darkcyan;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 100px;
    border-radius: 10px;
}