* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cc8500;
}

.container {
    max-width: 60rem;
    margin: 5rem auto;
    background: #fff;
    padding: 5rem;
    border-radius: 3rem;
}

.container h1 {
    font-size: 4rem;
}

.container button {
    font-size: 2rem;
}

.relogio {
    font-size: 10rem;
}
.pausado{
    color: red;
}